apiVersion: v1
kind: Config

clusters:
  - cluster:
      certificate-authority-data: {{ certificate_authority_data }}
      server: {{ server }}
    name: default

contexts:
  - context:
      cluster: default
      namespace: kube-system
      user: default
    name: default

current-context: default

preferences: {}

users:
- name: default
  user:
    token: {{ token }}
